@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Bangers&family=Bebas+Neue&family=Climate+Crisis&family=Dancing+Script:wght@400;500;600;700&family=Dosis:wght@200;300;400;500;600&family=Gajraj+One&family=Gentium+Book+Plus:ital,wght@1,400;1,700&family=Itim&family=Josefin+Sans:ital,wght@0,100;0,200;0,400;0,600;1,100;1,200;1,300;1,400;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800&family=Leckerli+One&family=Merienda:wght@400;600;700;900&family=Mukta:wght@200;300;400;700;800&family=Permanent+Marker&family=Phudu:wght@300;400&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Tourney:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,500&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Unbounded:wght@500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Bangers&family=Bebas+Neue&family=Climate+Crisis&family=Dancing+Script:wght@400;500;600;700&family=Dosis:wght@200;300;400;500;600&family=Gajraj+One&family=Gentium+Book+Plus:ital,wght@1,400;1,700&family=Itim&family=Josefin+Sans:ital,wght@0,100;0,200;0,400;0,600;1,100;1,200;1,300;1,400;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800&family=Leckerli+One&family=Merienda:wght@400;600;700;900&family=Mukta:wght@200;300;400;700;800&family=Permanent+Marker&family=Phudu:wght@300;400&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Tourney:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,500&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Unbounded:wght@500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(13, 9, 2, 0.9294117647);
}

/***************MIXIN***********/
header nav .logo {
  color: tomato;
  font-family: "Phudu", cursive;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px -1px 1px;
  border-radius: 20px;
  border: 1px solid tomato;
  padding-inline: 1rem;
}
header nav .btn__nav {
  color: rgb(248, 112, 88);
  background-color: tomato;
}
header nav .nav-estilo {
  color: rgba(255, 166, 0, 0.896);
  font-family: "Phudu", cursive;
  font-size: 1.5rem;
}
header nav .nav-estilo:hover {
  color: rgb(185, 98, 6);
}
header .banner {
  width: 100%;
  height: 600px;
  animation: banner 10s infinite linear alternate;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .banner .capa {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
header .banner .bienvenida {
  z-index: 1;
  width: 100%;
  max-width: 550px;
  text-align: center;
}
header .banner .bienvenida h1 {
  color: tomato;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-shadow: 1px -1px 1px;
  font-family: "Phudu", cursive;
}
header .banner .bienvenida h2 {
  color: tomato;
  font-size: 2rem;
  font-weight: bolder;
  text-shadow: 2px -2px 2px black;
  font-family: "Phudu", cursive;
}

@keyframes banner {
  0%, 20% {
    background-image: url("../images/banner-index1.webp");
  }
  25%, 45% {
    background-image: url("../images/banner-index2.webp");
  }
  50%, 70% {
    background-image: url("../images/banner-index3.webp");
  }
  75%, 100% {
    background-image: url("../images/banner-index4.webp");
  }
}
footer {
  background-color: black;
  margin-top: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.8rem;
}
footer .box-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: tomato;
  margin-right: 1.5rem;
  letter-spacing: 0.1rem;
}
footer .box-footer li {
  list-style-type: none;
}
footer .box-footer li img {
  width: 30px;
}
footer .box-footer a {
  text-decoration: none;
  color: tomato;
}
footer .box-footer a:hover {
  color: orange;
}
footer .right-area {
  align-items: center;
  text-align: center;
}
footer .right-area imput {
  border: 3px solid tomato;
  background-color: orange;
}
footer .right-area button {
  background-color: tomato;
}
footer .right-area button:hover {
  border: 3px solid orange;
}
footer .right-area .redes {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
footer .right-area .redes .redes-icon {
  width: 30px;
}

main .seccion--title {
  color: tomato;
  text-align: center;
  margin: 3rem;
  text-shadow: 2px -2px 2px orange;
  font-family: "Phudu", cursive;
  font-weight: bold;
}
main .servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
main .servicios .servicios--item {
  text-align: center;
  color: tomato;
  font-family: "Phudu", cursive;
  font-size: 1.5rem;
  background-color: black;
}
main .servicios li {
  color: tomato;
  background-color: black;
  font-family: "Bebas Neue", cursive;
  animation: servicios 1.5s infinite linear alternate;
}
@keyframes servicios {
  0%, 20% {
    color: rgb(252, 168, 13);
  }
  25%, 45% {
    color: rgb(190, 103, 9);
  }
  50%, 100% {
    color: rgba(193, 148, 66, 0.939);
  }
}/*# sourceMappingURL=estilos.css.map */