    main{
        .seccion--title {
            color:$colormain;
            text-align: center;
            margin: 3rem;
            text-shadow: 2px -2px 2px $colorsecondary;
            font-family: $fontmain;
            font-weight: bold;
        }
       .servicios{
        @include flex(flex,center,center);
        margin-top: 3rem;

        .servicios--item {
            text-align: center;
            color: $colormain;
            font-family: $fontmain;
            font-size: 1.5rem;
            background-color: black;
        }
      li{
        color: $colormain;
        background-color: black;
        font-family: $fontsecondary;
        animation: servicios 1.5s infinite linear alternate;

        @keyframes servicios {
            0%,
            20% {
                color: rgb(252, 168, 13);
            }
            25%,
            45% {
                color: rgb(190, 103, 9);
            }
            50%,
            100% {
                color: rgba(193, 148, 66, 0.939);
            }
        }
      } }
    }
        