main{

    .title-contacto {
        @extend %titulos;
    
    } 
.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


    .formulario{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
        width: 400px;
        text-align: center;

        h3{
            color: $colorsecondary;
            font-family: $fontsecondary;
            font-size: 1.5rem;
            font-weight: 900;
        }

        span{
            color: $colormain;

        }

        label{
            color: $colorsecondary;
            font-size: 1rem;
            font-family: $fontsecondary;
            letter-spacing: 0.3rem;
            font-weight: 800;
        }
        input{
            border: 1px solid orangered;
            border-bottom: 3px solid $colorsecondary;
            border-radius: 30px;
            padding-inline: 3rem;
        }
        
        .btn-form {
            color: $colorsecondary;
            padding-inline: 50px;
            background-color: black;
            font-family: $fontsecondary;
            font-weight: 900;
            border-radius: 20px;
        }
    }

    .img-contacto{
        width: 600px;
    }

}  
    
    .redes-contacto{
        margin-top: 3rem;
        border-radius: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        


        .datos{
            display: flex;
            justify-content: center;
            

            .iconos{
                @extend %iconos;
            }

            
            

        }
   
   
   .redes-title{
    color: $colormain;
    font-family: $fontsecondary;
    font-weight: 900;
    text-align: center;

    span{
        color: $colorsecondary;
    }
   }
  .contacto-items{
    padding: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    

  .contactanos-title{
    @extend .redes-title;
  }

  .contacto-items--datos{
    color: orangered;
    font-family: $fontsecondary;
    letter-spacing: 0.1rem;

    span{
        color: rgb(170, 119, 23);
    }

  }
}

    }
}
