footer {
  background-color: black;
  padding-block: 1rem;
  margin: 1rem;
  border: 5px solid black;
  font-size: 1rem;
  font-family: $fontelegante;

  .box-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $colormain;

    li {
      list-style-type: none;

      img {
        width: $iconos;
      }
    }
    a {
      text-decoration: none;
      color: $colormain;

      &:hover {
        color: $colorsecondary;
      }
    }
  }

  .right-area {
    align-items: center;
    text-align: center;
    imput {
      border: 3px solid $colormain;
      background-color: $colorsecondary;
    }
    button {
      background-color: $colormain;
      &:hover {
        border: 3px solid $colorsecondary;
      }
    }
    .redes {
      display: flex;
      justify-content: center;

      .redes-icon {
        width: $iconos;
      }
    }
  }
}
