main {
  .estilo-title {
    @extend %titulos;
  }

  .nosotros-style {
    color: rgb(249, 193, 90);
    line-height: 50px;
    box-shadow: 1px -1px 1px $colormain;
    padding-inline: 1rem;
    margin-inline: 1rem;
    align-items: center;
    font-size: 1rem;
    font-family: $fontelegante;
    letter-spacing: 0.1rem;

    &:hover {
      box-shadow: 3px -3px 3px black;
      color: $colormain;
    }
  }
}

main {
  .estilo-title {
    @extend %titulos;
    font-size: 3rem;
  }
  .grid {
    @include grid(3, 1rem);
    margin: 2rem;
    border: 1px solid;
    padding-block: 2rem;

    @include flex(flex, center, center);

    .grid-items {
      border: 8px solid black;
      border-radius: 6px;
      margin-inline: 2rem;
      padding-inline: 2rem;
      background-color: black;
      letter-spacing: 0.2rem;

      &:hover {
        border-right: 3px solid $colorsecondary;
        border-left: 3px solid $colorsecondary;
      }

      h5 {
        color: $colormain;
        font-family: $fontelegante;
        font-size: 1.5rem;
        text-shadow: 1px -1px 1px black;
        text-align: center;
      }

      h6 {
        color: $colorsecondary;
        font-family: $fontelegante;
        text-align: center;
        font-size: 1rem;
      }
    }
  }

  .btn-reservas_menu {
    text-align: center;

    a {
      text-decoration: none;
      color: orange;
      font-family: $fontelegante;
      background-color: black;
      border: 1px solid $colormain;
      margin-inline: 1rem;
      padding-inline: 1rem;
      &:hover {
        
        color: orangered;
        border-radius: 20px;
        padding-inline: 1rem;
      }
    }
  }
}
