
/*******footer****/

.box-footer{
    @include mobile{
        flex-direction: column;
    }
}

.right-area{
    @include mobile{
        flex-direction: column;
    }
}

/*******pag-index sección promos*******/

.promos{
    @include mobile{
    flex-direction: column;

    }

  
}


/*******pag-contacto***********/

.contacto {
    @include tablet {
        display: flex;
        flex-direction: column;
    }
}

.contacto {
    @include mobile {
        display: flex;
        flex-direction: column;
    }
}
    
.img-contacto{
    width: 300px;
}




/*******pag-menú******/


.grid{
    @include tablet{
        flex-direction: column;
    }
}

.grid{
    @include mobile{
        flex-direction: column;
    }
}







