main{


    .reserva-title{
        @extend %titulos;
    }



    .form-title {
        color: $colorsecondary;
        text-align: center;
        margin: 1rem;
        text-shadow: 1px -1px 1px $colormain;

    }

    .reservas{
        background-image: url("/images/carne-reservas.jpg");

        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            
   
            .btn-reservas{
                background-color: $colorsecondary;
                color: black;
                border-radius: 20px;
                border: 1px solid $colorsecondary;
                padding-inline: 2rem;
                font-family: $fontelegante;
                font-weight: 800;
            }


   
        }
}
.reserva-cartel{
    border-radius: 20px;
    margin: 3rem;
    color: black;
    font-weight: 900;
    background-color: $colorsecondary;
    text-shadow: 1px -1px 1px 1px black ;
    font-family: $fontmain;
}

}